* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-bottom: 500px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}